{%extends "base.html"%} 
{% load static %}
{%block title%}home{%endblock%} 
{%block content%}
<section class="home" id="home">

    <div class="content">
        <h3>its time to celebrate! Plan your event <span> with us. </span></h3>
        <a href="#contact" class="btn">contact us</a>
    </div>

    <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{%static 'images/slide-1.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide-2.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide-3.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide-4.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide-5.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{%static 'images/slide-6.jpg'%}" alt=""></div>
        </div>
    </div>

</section>

<!-- home section ends -->

<!-- service section starts  -->

<section class="service" id="service">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>venue selection</h3>
            <p>Alkapuri,Vadodara,Gujarat</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>invitation card</h3>
            <p>Pladi,Ahemdabad,Gujarat</p>
            <p>Navrangpura,Ahemdabad,Gujarat</p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>entertainment</h3>
            <p>Harinagar,Gotri road,Vadodara,Gujarat</p>
            <p>Sampa,Subhanpura road,Vadodara,Gujarat</p>
        </div>

        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>Depend on the managemnet of the location you select.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos and videos</h3>
            <p>hersPhotography by- harsh.r.soni</p>
            <p>you can also call on your photographer.</p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>custom food</h3>
            <p>Dangee Dums - Cakes</p>
            <p>Mr.Puff</p>
        </div>

    </div>

</section>

<!-- service section ends -->

<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"><span>about</span> us </h1>

<div class="row">

    <div class="image">
        <img src="{%static 'images/about-img.jpg'%}" alt="">
    </div>

    <div class="content">
        <h3>We will give a very special celebration for you</h3>
        <p>Our forte is in the conceptualisation and production of Special Events, combining creative ideas, expert technical direction, meticulous planning and seamless execution.</p>
            <p>We are one of the top Vadodara event planners and dedicated on-time response to our clients as We believe punctuality is the only factor that grows our business further. We value your time and make sure 100% satisfaction with the clients before starting up the events. We create a unique strategy for your events with the best combinations of colors and lights to attract audiences.</p>
            <p>Our core team comprises individuals whom have the passion for events and always striving for perfection, Coming from a wide background of hospitality, public relations and even the military, we come together to form a formidable team to bring your events to success! Contact Us Today!</p>
        <a href="#contact" class="btn">contact us</a>
    </div>

</div>

</section>

<!-- about section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="{%static 'images/g-1.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/first.jpeg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-3.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-4.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-5.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-6.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-7.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-8.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/g-9.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="{%static 'images/1.jfif'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        
        <div class="box">
            <img src="{%static 'images/g-10.jpg'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        
        <div class="box">
            <img src="{%static 'images/g-12.jfif'%}" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        

        

    </div>

</section>

<!-- gallery section ends -->

<!-- price section starts  -->

<section class="price" id="price">

    <h1 class="heading"> our <span>price</span> </h1>

    <div class="box-container">
        {%for event in events%}
        <div class="box">
            <h3 class="title">{{event.ev_name}}</h3>
            <h3 class="amount">Starting with Rs.{{event.ev_price}}</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="/event?ev_name={{event.ev_name}}" class="btn">check out</a>
        </div>
        {%endfor%}

    </div>


</section>

<!-- price section ends -->

<!-- review section starts  -->

<section class="reivew" id="review"> 
    
    <h1 class="heading">client's <span>review</span></h1>

    <div class="review-slider swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{%static 'images/pic-1.png'%}" alt="">
                    <div class="user-info">
                        <h3>Anthony Jhons</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>"Words fail me as I try to describe how elegant and absolutely beautiful the event was, your team did such an incredible job of orchestrating everything so smoothly, almost effortlessly."</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{%static 'images/pic-2.png'%}" alt="">
                    <div class="user-info">
                        <h3>Farheen Sayied</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Decortion was on point, the Organizers put all effort to show my personality in the event.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{%static 'images/pic-3.png'%}" alt="">
                    <div class="user-info">
                        <h3>Sahil Shah</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>My dream Wedding come true!!! thank you so much Dhruvi and Namira,Jacquline , the team of NDJEvenet. </p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{%static 'images/pic-4.png'%}" alt="">
                    <div class="user-info">
                        <h3>Yashvi Patel</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>i am happy on my decision to book my baby shower event by NDJEvent, your website was easy to use. </p>
            </div>

        </div>

    </div>

</section>

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section>
{%endblock%}
